<div>
<table *ngIf='treatments'>
  <tr>
    <th>Name <input class='searchBar' type='text' [(ngModel)]='filterargs'/> </th>
    <th>Description</th>
    <th>Type</th>
    <th>Controls</th>
  </tr>
  <tr *ngFor='let treatment of treatments | filter:filterargs'>
    <td>{{ treatment.name }}</td>
    <td>{{ treatment.description }}</td>
    <td>{{ getType(treatment.treatmentType) }}</td>
    <td>
      <button><i class="material-icons">edit</i></button>
      <button><i class="material-icons">delete</i></button>
    </td>
  </tr>
</table>
<br>
<button><i class="material-icons">add</i></button>
</div>