<div>

  <h1 [ngStyle] = "{ 'color': 'black','font-size': '3em'}">What country are you interested in? </h1>

<div *ngIf = "matchingCountries.length != 0">
  <ul>
    <li *ngFor="let country of matchingCountries" (click) = "selectedCountry(country)">
      {{ country }}
    </li>
  </ul>
</div>
<form [formGroup]="countrySelect" (ngSubmit)="onSubmit()">

  <label>
    <input #input type="text" formControlName="country" ng-model = "searchText" (keyup) = "search($event)">
    <div *ngIf="submitted && countrySelect.controls.country.errors" class="error">
      <div *ngIf="countrySelect.controls.country.errors.required">Your Username is required</div>
    </div>
  </label>

  <br/><br/>
  <input type="submit" value="Search" class="cta">

</form>

</div>