<div>
<table *ngIf='symptomTypes'>
  <tr>
    <th>Name <input class='searchBar' type='text' [(ngModel)]='filterargs'/> </th>
    <th>Controls</th>
  </tr>
  <tr *ngFor='let symptomType of symptomTypes | filter:filterargs;let i=index'>
    <td>{{ symptomType.name }}</td>
    <td>
      <button data-toggle="modal" data-target="#updateSymType"  (click)="typeList(i)"><i class="material-icons">edit</i></button>
      <button (click)="deleteType(i)"><i class="material-icons">delete</i></button>
    </td>
  </tr>
</table>
<br>
<button data-toggle="modal" data-target="#addType"><i class="material-icons">add</i></button>
<div class="modal fade" id="updateSymType" *ngIf="list" tabindex="-1" role="dialog" aria-labelledby="updateSymType"  >
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Update</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="updateSymTypes"  novalidate>
                  <!-- <div *ngIf="updateMalariaType.controls['name'].invalid && (updateMalariaType.controls['name'].dirty || updateMalariaType.controls['name'].touched)" class="alert alert-danger">
                      <div *ngIf="updateMalariaType.controls['name'].errors.required">Name is required.</div>
                  </div>
                  <div *ngIf="updateMalariaType.controls['level'].invalid && (updateMalariaType.controls['level'].dirty || updateMalariaType.controls['level'].touched)" class="alert alert-danger">
                      <div *ngIf="updateMalariaType.controls['level'].errors.required">level is required.</div>
                  </div> -->

                  <div class="form-group">
                      <input type="hidden" class="form-control" formControlName="id" #id value='{{list[0].value}}'>
                  </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                         <input type="text" class="form-control" formControlName="name" #name value='{{list[1].value}}'>
                        </div>
                                    
                
                  <button type="submit" data-dismiss="modal" class="btn btn-primary" (click)="updateSymType(id.value,name.value)" >Update</button>
              </form>
              <br>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>
<!-- ************************** -->
<div class="modal fade" id="addType" tabindex="-1" *ngIf="list" role="dialog" aria-labelledby="addType"  >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addSymTypes"  novalidate>
                   
                          <div class="form-group">
                              <label for="name">Name</label>
                           <input type="text" class="form-control" formControlName="name" #name2 placeholder='Name of type'>
                          </div>          
                  
                    <button type="submit" data-dismiss="modal" class="btn btn-primary" (click)="addType(name2.value)" >Add</button>
                </form>
                <br>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
  
</div>